.well-image{
  width: 100%;
  height: 182px;
}

.top-buffer{
  margin-top: 30px;
}

#turtle-info {
  color: white;
}

.answer {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #bbb;
}

.answer:hover {
  cursor: pointer;
}

.image-answer {
  cursor: pointer;
  width: 100%;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-answer img{
  width: 100%;
  height: inherit;
}

.image-selected {
  border: 4px solid #56afdc;
  box-shadow: 5px 5px 5px #888;
}

.image-answer.bg-success{
    border: 3px solid #5ea640;
}
.image-answer.bg-danger{
    border: 3px solid #b74848;
}
