.well-image{
  width: 100%;
  height: 182px;
}

.top-buffer{
  margin-top: 30px;
}

#turtle-info {
  color: white;
}

.answer {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #bbb;
}

.answer:hover {
  cursor: pointer;
}
